.primary-button {
	background-color: #E5E5E5;
	border: 1px solid #B2B2B2;
	font-size: 1.5em;
	padding: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
	
	
	   -moz-border-radius: 12px; 
	-webkit-border-radius: 12px; 
	        border-radius: 12px; 
	
	
		  background-color: #E5E5E5;
		  background-image: -moz-linear-gradient(top, #E5E5E5, #B2B2B2); 
		  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #E5E5E5),color-stop(1, #B2B2B2)); 
		  background-image: -webkit-linear-gradient(#E5E5E5, #B2B2B2); 
		  background-image: linear-gradient(top, #E5E5E5, #B2B2B2);
		            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#E5E5E5', EndColorStr='#B2B2B2'); 

}

.primary-button:hover {
	background-color: #D5D5D5;	
	background-image: -moz-linear-gradient(top, #D5D5D5, #8A8A8A); 
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #8A8A8A),color-stop(1, #8A8A8A)); 
	background-image: -webkit-linear-gradient(#D5D5D5, #8A8A8A); 
	background-image: linear-gradient(top, #D5D5D5, #8A8A8A);
	            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#D5D5D5', EndColorStr='#8A8A8A'); 
	
	
}


