body {
	font-family: Verdana, sans-serif;
	margin-top: 0px;
	background-color: #f8fcfc;
}

.container {
	width: 900px;
	margin-left: 50px;
	margin-top: 0px;
	margin-bottom: 100px;
	padding: 30px;


    	  box-shadow: 3px 3px 10px #666; 
     -moz-box-shadow: 3px 3px 10px #666; 
  -webkit-box-shadow: 3px 3px 10px #666; 
	background-color: white;
}

a {
	color: #8D1616;
	text-decoration: none;
}

a:hover {
}

h1, h2, h3 {
	padding-top: 20px;
}

label, legend {
	display: block;
	font-weight: bold;
}

label {
	padding-top: 10px;
}

fieldset {
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: #eee;
	border: none;
}

fieldset legend {
	font-size: 1.2em;
}

textarea {
	width: 100%;
	font-size: 12pxconten;
}

input {
	font-size: 120%;
}

h1 {
	margin: 30px 0px 30px 0px;
}

section {
	display: block;
}


ol.task {
	list-style: none;
}

.done, .inactive, .current, .failed {
	background-color: #D5D5D5;
	padding: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
	border: 1px solid;
	
	   -moz-border-radius: 12px; 
	-webkit-border-radius: 12px; 
	        border-radius: 12px; 
	
}

p, li {
	margin-top: 10px;
	margin-bottom: 0px;
}
.done h2, .inactive h2, .current h2 {
	margin-top: 0px;
	padding-top: 0px;
}

.inactive {
	background:#D8D8D8; color: #767676; border-color: #A5A5A5;
}

.current {
/*	background:#fff6bf;color:#514721;border-color:#ffd324;
*/
	background:#FFBD56; color:#000; border-color: #FF6300;
}

.current h2:before {
	content: "next: ";
	font-size: 50px;
}

.inactive h2:before {
	content: "coming: ";
	font-size: 50px;
}


.done {
	background:#e6efc2;color:#264409;border-color:#c6d880;
}

.done h2:before {
	content: "✓";
	float: left;
	font-size: 100px;
	margin-top: -40px;
	padding-top: 0px;
}

.failed {
	background-color: #990E03;
	color: white;
}

.block {
	display: block;
}

.ok {
	color: #249900;
}

.ok:before {
	content: "✓";
}

hr {
	border: 0px;
	background-color: #aaa;
	height: 1px;
}

.error, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
.info {background:#d5edf8;color:#205791;border-color:#92cae4;}
.error a, .alert a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
.info a {color:#205791;}

input.pot {
	position: absolute;
	left: -3000px;
}