<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang=3D"en">
<head>
	<meta http-equiv=3D"Content-Type" content=3D"text/html; charset=3Dutf-8"=
>
	<title>setup.html</title>
	<meta name=3D"generator" content=3D"TextMate http://macromates.com/">
	<meta name=3D"author" content=3D"Roland Studer">
	<!-- Date: 2011-02-09 -->
	<style type=3D"text/css" media=3D"screen">
	body {
		font-family: Verdana, sans-serif;
	}
	=

	a {
		color: red;
		text-decoration: none;
	}
	=

	a:hover {
		text-decoration: underline;
	}
	=

</style>
</head>
<body>
	<h1>Great you're peer review is done!</h1>
	=

	<section class=3D"task">
	<h2>Task instructions</h2>
	<p>test</p>
	=

	<h2>Feeback instructions</h2>
	=

	<p>- Be critical, but be fair
<br />- Give feedback, that helps to improve the submitted solution.</p>
	=

	<h2>Dates and more=E2=80=A6</h2>
	<p class=3D"declare"><span>Solution due:</span> February 25, 2011 13:00<=
/p>
	<p class=3D"declare"><span>Feedback due:</span> March 04, 2011 13:00</p>=

	<p class=3D"declare"><span>Number of feedbacks:</span> 2</p>
	<p class=3D"declare"><span>Your email:</span> test@test.com</p>
	=

	=


</section>



	=

	<section class=3D"participants">
	<h2>3 Participants</h2>
	<table>
		<tr>
			<th></th>
			<th></th>
			<th>Solution</th>
			<th>Feedbacks</th>
		</tr>

		<tr class=3D"even">
			<td><a href=3D"/peer_review_assignments/55">55</a></td>
			<td>kristina.rohde@psy.unibe.ch</td>
			<td><span class=3D"ok" /></td>
			<td><span class=3D"ok"></span><span class=3D"ok"></span></td>
		</tr>
		<tr class=3D"odd">
			<td><a href=3D"/peer_review_assignments/56">56</a></td>
			<td>test@test.com</td>
			<td><span class=3D"ok" /></td>
			<td><span class=3D"ok"></span><span class=3D"ok"></span></td>
		</tr>
		<tr class=3D"even">
			<td><a href=3D"/peer_review_assignments/57">57</a></td>
			<td>roland.studer@test.com</td>
			<td><span class=3D"ok" /></td>
			<td><span class=3D"ok"></span></td>
		</tr>
	</table>
</section>
	=

	<h1>Listing all solutions with feedbacks</h1>


		<hr />
    =

<h2>1 kristina.rohde@psy.unibe.ch</h2>
					<p>  	"Wenn einer in sein drei=C3=9Figstes Jahr geht, wird man nicht=

<br /> aufh=C3=B6ren, ihn jung zu nennen. Er selber aber, obgleich er
<br /> keine Ver=C3=A4nderungen an sich entdecken kann, wird unsicher."</=
p>

<p>Ingeborg Bachmann </p>
					<h3>Feedbacks</h3>
						<p>a</p>
						<p class=3D"small quiet">roland.studer@test.com</p>
						<p>a</p>
						<p class=3D"small quiet">test@test.com</p>
		=

		<hr />
    =

<h2>2 test@test.com</h2>
					<p>Po=C3=A9tica                            =

<br />=C2=BFC=C3=B3mo escribir ahora poes=C3=ADa,
<br />por qu=C3=A9 no callarnos definitivamente
<br />y dedicarnos a cosas mucho m=C3=A1s =C3=BAtiles?
<br />=C2=BFPara qu=C3=A9 aumentar las dudas,
<br />revivir antiguos conflictos,
<br />imprevistas ternuras;
<br />ese poco de ruido
<br />que lo sobrepasa y anula?
<br />=C2=BFSe aclara algo con semejante ovillo?
<br />Nadie la necesita.
<br />Residuo de viejas glorias,
<br />=C2=BFa qui=C3=A9n acompa=C3=B1a, qu=C3=A9 heridas cura?</p>
					<h3>Feedbacks</h3>
						<p></p>
						<p class=3D"small quiet">roland.studer@test.com</p>
						<p>Sorry, ich kann kein Spanisch.</p>
						<p class=3D"small quiet">kristina.rohde@psy.unibe.ch</p>
		=

		<hr />
    =

<h2>3 roland.studer@test.com</h2>
					<p>Wie jetzt noch ein Gedicht schreiben,
<br />warum nicht endg=C3=BCltig schweigen
<br />und uns viel n=C3=BCtzlicheren Dingen widmen?
<br />Warum die Zweifel vergr=C3=B6=C3=9Fern,
<br />alte Konflikte, unverhoffte Z=C3=A4rtlichkeiten
<br />neu durchleben;
<br />dieses Quentchen L=C3=A4rm
<br />einer Welt hinzuf=C3=BCgen
<br />die mehr ist, die es doch nur zunichte macht?
<br />Wird irgendwas klarer durch solch ein Kn=C3=A4uel?
<br />Niemand braucht es,
<br />Relikt vergangener Herrlichkeiten,
<br />wem hilft es, welche Wunden heilt es?</p>

<p>Juan Gustavo Cobo-Borda  =

<br />(geb. 1948 in Bogot=C3=A1)  </p>
					<h3>Feedbacks</h3>
						<p>b</p>
						<p class=3D"small quiet">test@test.com</p>
						<p>Das hast du aber nicht selbst geschrieben, oder?</p>
						<p class=3D"small quiet">kristina.rohde@psy.unibe.ch</p>
		=


	=

</body>
</html>
