<h1 class="secondary padded">Create your own peer feedback exercise…</h1>


<div class="padded">
<ol class="explanation">
	<li>You <b>define a task</b> and invite people by adding their email adresses.</li>
	<li>As a result every <b>participant receives an email</b> with the task description and a link for the online access.</li>
	<li><b>Participants submit a solution online</b> until the given deadline.</li>
	<li>After the deadline <b>participants</b> receive another email prompting them to <b>give feedback</b> for the solutions others submitted.</li>
	<li><b>Participants receive their feedbacks</b> as soon as their peers send them.</li>
</ol>

<p><b>The teacher gets email with all the submitted solutions and feedbacks.</b></p>

<p class="breathe"><%= link_to 'Start a peer feedback exercise', new_peer_review_path, :class => 'primary-button' %></p>
	
<h2>Requests / Feedbacks</h2>

<p>I'm eager to hear what you think: <a href="mailto:roland.studer@gmail.com">roland.studer@gmail.com</a></p>


</div>

