<h1>Set up a peer review excercise…</h1>

<p class="emphasized">You can set up a peer review here really easily. It works like this:</p>

<ol>
	<li>A teacher defines a task, and adds participants by adding a list of email-adresses.</li>
	<li>Every participant gets an email with the task</li>
	<li>Participants submit a solution online.</li>
	<li>After a defined date, participants get another email, asking them to review the solutions others submitted.</li>
	<li>Participants receive the feedbacks others gave for their solution.</li>
</ol>

<p>The teacher will get emails with all the solutions and all the peer reviews.</p>

<p class="emphasized">Ready? Then <%= link_to 'set up a peer review.', new_peer_review_path %></p>
	
<h2>Looking for something you already did?</h2>

<p>Currently there is no possibility to see what you where assigned, what you have done. You will have to find your emails. A possibility to see what you were assigned will be provided in the future.</p>

<h2>Requests / Feedbacks</h2>

<p>I'm eager to hear what you think: <a href="mailto:roland.studer@psy.unibe.ch">roland.studer@psy.unibe.ch</a></p>

