<h1 class="secondary padded">Create your own peer feedback exercise…</h1>


<div class="padded">
<ol>
	<li>A teacher defines a task, and adds participants by adding a list of email-adresses.</li>
	<li>Every participant gets an email with the task</li>
	<li>Participants submit a solution online.</li>
	<li>After a defined date, participants get another email, asking them to review the solutions others submitted.</li>
	<li>Participants receive the feedbacks others gave for their solution.</li>
</ol>

<p>The teacher will get emails with all the solutions and all the peer reviews.</p>

<p class="breathe-above"><%= link_to 'Start a peer feedback exercise', new_peer_review_path, :class => 'primary-button' %></p>
	
<h2>Requests / Feedbacks</h2>

<p>I'm eager to hear what you think: <a href="mailto:roland.studer@psy.unibe.ch">roland.studer@psy.unibe.ch</a></p>


</div>

