<%= link_to "back", @assignment, :class => "back" %>


<h1>Your solution for task:<br><%= @peer_review.title %></h1>

<p id="notice"><%= notice %></p>

<p>
  <%= render :inline => @solution.text %>
</p>

<p>The next step will be to review others solutions, you will be informed by email.</p>